.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

@font-face{
		font-family: marker;
		src: url("PermanentMarker-Regular.ttf");
	}
		
#comment{
	height: 300px;
}

#submit{
	float: right;
}

* {
	font-family: marker;
}

.mclaren {
	width: 1250px;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	opacity: 85%;
}

.containerimg {
  position: relative;
  text-align: center;
  color: white;
}

.top{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bottom{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}