.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

@font-face{
		font-family: marker;
		src: url("PermanentMarker-Regular.ttf");
	}
		
#comment{
	height: 300px;
}

#submit{
	float: right;
}

* {
	font-family: marker;
}

.containerimg {
	position: relative;
	text-align: center;
	color: white;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

#creatorpic{
	border-radius: 50%;
}

.containertxt {
	position: relative;
	text-align: center;
	color: black;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

#infiniti{
	border-radius: 50%;
}